@import helper._
@import models.common.reference.Reference

@(addGuardianForm: Form[GuardianRegistrationData], student_id: Long, school_id: Long)(implicit messages: Messages)

@views.html.common.nuggets.head("Register Guardian")

<div id="register_student_guardian">
@form(action = routes.StudentsController.addGuardian(student_id, school_id), 'class -> "form-horizontal") {

    <div class="form-group">
        @inputText(addGuardianForm("guardian_name.first"), '_label -> "First Name", 'required -> "required", 'tabindex -> "1", 'class -> "form-control", '_showConstraints -> false)
        @inputText(addGuardianForm("guardian_name.last"), '_label -> "Last Name", 'required -> "required", 'tabindex -> "2", 'class -> "form-control", '_showConstraints -> false)
        @inputText(addGuardianForm("guardian_name.middle"), '_label -> "Middle Name", 'tabindex -> "3", 'class -> "form-control", 'class -> "form-control", '_showConstraints -> false)
    </div>

    <div class="form-group">
    @inputRadioGroup(addGuardianForm("gender"),
        options = Reference.genderList,
        '_label -> "Gender", 'required -> "required", 'tabindex -> "3", '_showConstraints -> false,
        '_error -> addGuardianForm("gender").error.map(_.withMessage(Messages("schools.students.guardian.add.gender.error"))))
    </div>

    <div class="form-group">
    @select(addGuardianForm("student_relationship"),
        options = Reference.guardianStudentRelationshipList,
        '_label -> "Relationship", 'required -> "required", 'tabindex -> "4", '_showConstraints -> false,
        '_error -> addGuardianForm("gender").error.map(_.withMessage(Messages("schools.students.guardian.add.relationship.error"))))
    </div>

    <div class="form-group">
    @inputText(addGuardianForm("email"), 'label -> "EMail", 'tabindex -> "5", 'class -> "form-control", '_showConstraints -> false)
    </div>

    <div class="form-group">
    @inputText(addGuardianForm("national_insurance"), 'label -> "National Insurance", 'tabindex -> "6", 'class -> "form-control", '_showConstraints -> false)
    </div>

    <div class="form-group">
        <label> Guardian Address</label>
        @inputText(addGuardianForm("guardian_address.first_line"), '_label -> "Line 1", 'tabindex -> "7", '_showConstraints -> false)
        @inputText(addGuardianForm("guardian_address.second_line"), '_label -> "Line 2", 'tabindex -> "8", '_showConstraints -> false)
        @inputText(addGuardianForm("guardian_address.city"), '_label -> "City/Village", 'tabindex -> "9", '_showConstraints -> false)
        @inputText(addGuardianForm("guardian_address.county"), '_label -> "County", 'tabindex -> "10", '_showConstraints -> false)
        @inputText(addGuardianForm("guardian_address.country"), '_label -> "Country", 'tabindex -> "11", 'required -> "required", '_showConstraints -> false)
        @inputText(addGuardianForm("guardian_address.zip_code"), '_label -> "Pin/Zip Code", 'tabindex -> "12", 'required -> "required", '_showConstraints -> false)
    </div>

    <a class="btn btn-primary" href="@routes.StudentsController.findByIdAndSchool(student_id, school_id)" role="button">
        Back/Cancel</a>
    <input class="btn btn-success" type="submit" value="Register School" type="button">
    }
</div>


@views.html.common.nuggets.body_scripts()