@import models.common.{FlatRate, Rate}

@(rt: Option[Rate], sc: Option[School])(implicit messages: Messages)

@(rt, sc) match {
    case (Some(rate), Some(school)) => {
        <div id="rate_detail">
            <div >
                <label>Rate Id </label> @rate.rate_id
            </div>
            <div>
                <label>Rate Code</label> @rate.code
            </div>
            <div>
                <label>Rate Description</label> @rate.description
            </div>
            <div>
                <label>Type</label> @rate.chargeOrRebate
            </div>
            <div>
                <label>Status</label> @rate.status
            </div>

            <div id="rate_pricing">
            @rate.rate_id.split("/").toList.head match {
                case "flatRates" => {


                    <div id="flat_rate">
                        <label>Value</label> @(rate.isInstanceOf[FlatRate]).price
                    </div>
                }
                case "bandedRates" => {
                    @* @if(rate.isInstanceOf[BandedRate] == true) {
                    <div id="banded_rate">
                    <label>Banded Rate</label>
                    <table class="table-striped">
                    <thead>
                    <tr>
                    <th>Lower Limit</th>
                    <th>Upper Limit</th>
                    <th>Rate</th>
                    </tr>
                    </thead>
                    <tbody>
                    @rate.asInstanceOf[BandedRate].bands.map{b =>
                    <tr>
                    <td>@b.lower_limit match {
                    case Some(h) => {
                    @h.getHours
                    }
                    case None => {
                    None
                    }
                    }
                    </td>
                    <td>@b.upper_limit match {
                    case Some(h) => {
                    @h.getHours
                    }
                    case None => {
                    None
                    }
                    }</td>
                    <td>@b.rate</td>
                    </tr>

                    }
                    </tbody>
                    </table>
                    </div>
                    }*@
                }
            }
            </div>

            <div id="rate_permitted_actions">
                <div id="rate_permitted_actions_view">
                    <a class="btn btn-primary" href="@routes.SchoolsController.findAllRatesBySchool(school.school_id)" role="button">School</a>
                    <a class="btn btn-primary" href="@routes.RatesController.findAllStudentsByRate(rate.rate_id, school.school_id)" role="button">Students</a>
                </div>
                <div id="rate_permitted_actions_update">
                    <a class="btn btn-warning" href="#" role="button">Edit</a>
                </div>
            </div>
        </div>
    }
    case _ => {
        <div>@Messages("rates.detail.nodata")</div>
    }
}

