@(st: Option[Guardian])(implicit messages: Messages)

@st match {
    case Some(guardian) => {
        <div id="guardian_detail">
            <div>
                <p>
                    <label>guardian Id </label> @guardian.guardian_id
                </p>
            </div>
            <div id="guardian_name">
                <p><label>First Name</label> @guardian.name.first</p>
                <p><label>Last Name</label> @guardian.name.last</p>
                <p><label> Middle Name</label> @guardian.name.middle.getOrElse("")</p>
            </div>

            <div id="guardian_address">
                <label>guardian Address</label>
                <address>
                    @guardian.address.first_line.getOrElse("") ,
                    @guardian.address.second_line.getOrElse("") ,
                    @guardian.address.city.getOrElse("") ,
                    @guardian.address.county.getOrElse("") ,
                    @guardian.address.country ,
                    @guardian.address.zip_code
                </address>
            </div>

            <div id="guardian_detail_other">
                <div>
                    <label>Gender</label> @guardian.gender
                </div>
                <div>
                    <label>E-Mail</label> @guardian.email.getOrElse(Messages("schools.guardians.detail.email.nodata"))
                </div>
                <div>
                    <label>National Insurance NUmber</label> @guardian.national_insurance_number.getOrElse(Messages("schools.guardians.detail.national_insurance_number.nodata"))
                </div>
            </div>

            <div id="guardian_permitted_actions">
                <div id="guardian_permitted_actions_view">
                    <a class="btn btn-primary" href="@routes.GuardiansController.findAllStudentsByGuardian(guardian.guardian_id)" role="button">Students</a>
                    <a class="btn btn-primary" href="@routes.GuardiansController.findAllSchoolByGuardian(guardian.guardian_id)" role="button">Schools</a>
                    <a class="btn btn-default" href="#" role="button">Charges</a>
                    <a class="btn btn-default" href="#" role="button">Rebates</a>
                </div>
                <div id="guardian_permitted_actions_update">
                    <a class="btn btn-warning" href="#" role="button">Edit</a>
                </div>
            </div>
        </div>
    }
    case None => {
        <div>@Messages("schools.guardians.detail.nodata")</div>
    }

}