@(guardians: List[Guardian])(implicit messages: Messages)

<div id="student_list" class="student_list">

    @guardians match {

        case Nil => {
            <div> @Messages("schools.guardians.list.nodata")</div>
        }

        case h :: t => {
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Guardian Id</th>
                        <th>First Name</th>
                        <th>Middle Name(s)</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                @guardians.map { guardian =>
                    <tr>
                        <td>@guardian.guardian_id</td>
                        <td>@guardian.name.first </td>
                        <td>@guardian.name.middle.getOrElse("")</td>
                        <td>@guardian.name.last</td>
                        <td>@guardian.gender</td>

                        <td>
                            <a class="btn btn-success" href="@routes.GuardiansController.findById(guardian.guardian_id)" role="button">
                                View Details</a>
                            <a class="btn btn-warning" href="@routes.GuardiansController.findById(guardian.guardian_id)" role="button">
                                Edit</a>
                        </td>

                    </tr>
                }
                </tbody>
            </table>
        }
    }
</div>