@import helper._
@import models.common.reference.Reference
@import models.common.{BandedRateRegistrationData, FlatRateRegistrationData}
@(flatRate: Form[FlatRateRegistrationData], bandedRate: Form[BandedRateRegistrationData], school_id: String)(implicit messages: Messages)

@views.html.common.nuggets.head("Register Rate")

<div id="register_school_rate">
    <div id="rate_type_section" class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
            <input type="radio" name="rate" id="rate.flat" > Flat Rate
        </label>
        <label class=" btn btn-primary">
            <input type="radio" name="rate" id="rate.banded"> Banded Rate
        </label>
    </div>

    <div id="flat_rate_form">
    @form(action = routes.SchoolsController.addRate(school_id, 'F'), 'class -> "form-horizontal") {
        <div class="form-group">
            @inputText(flatRate("code"), '_label -> "Code", 'required -> "required", 'tabindex -> "1", 'class -> "form-control", '_showConstraints -> false)
            @inputText(flatRate("description"), '_label -> "Description", 'required -> "required", 'tabindex -> "2", 'class -> "form-control", '_showConstraints -> false)
            @inputRadioGroup(flatRate("chargeOrRebate"), options = Reference.chargeOrRebateOption, '_label -> "Charge/Rebate", 'required -> "required", 'tabindex -> "3", 'class -> "form-control radio-inline", '_showConstraints -> false)
            @select(flatRate("status"), options = Reference.statusList, '_label -> "Status", 'required -> "required", 'tabindex -> "6", 'class -> "form-control", '_showConstraints -> false)
            @inputText(flatRate("price.amount"), '_label -> "Amount", 'required -> "required", 'tabindex -> "4", 'class -> "form-control", '_showConstraints -> false)
            @select(flatRate("price.currency"), options = Reference.currencyList, '_label -> "Currency", 'required -> "required", 'tabindex -> "5", 'class -> "form-control", '_showConstraints -> false)
        </div >
        <a class="btn btn-primary" href="@routes.SchoolsController.findAllRatesBySchool(school_id)" role="button">
            Back/Cancel
        </a>
        <input class="btn btn-success" type="submit" value="Register Rates" type="button">
        }
    </div>

    <div id="banded_rate_form">
    @form(action = routes.SchoolsController.addRate(school_id, 'B'), 'class -> "form-horizontal") {
        <div class="form-group">
            @inputText(bandedRate("code"), '_label -> "Code", 'required -> "required", 'tabindex -> "1", 'class -> "form-control", '_showConstraints -> false)
            @inputText(bandedRate("description"), '_label -> "Description", 'required -> "required", 'tabindex -> "2", 'class -> "form-control", '_showConstraints -> false)
            @inputRadioGroup(bandedRate("chargeOrRebate"), options = Reference.chargeOrRebateOption, '_label -> "Charge/Rebate", 'required -> "required", 'tabindex -> "3", 'class -> "form-control radio-inline", '_showConstraints -> false)
            @select(bandedRate("status"), options = Reference.statusList, '_label -> "Status", 'required -> "required", 'tabindex -> "6", 'class -> "form-control", '_showConstraints -> false)
            @inputText(bandedRate("price.amount"), '_label -> "Amount", 'required -> "required", 'tabindex -> "4", 'class -> "form-control", '_showConstraints -> false)
            @select(bandedRate("price.currency"), options = Reference.currencyList, '_label -> "Currency", 'required -> "required", 'tabindex -> "5", 'class -> "form-control", '_showConstraints -> false)
        </div >
        <a class="btn btn-primary" href="@routes.SchoolsController.findAllRatesBySchool(school_id)" role="button">
            Back/Cancel
        </a>
        <input class="btn btn-success" type="submit" value="Register Rates" type="button">
    }
    </div>
</div >
@views.html.common.nuggets.body_scripts()